<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WoahDontShareThat</string>
			<key>footerText</key>
			<string>Include blacklisted terms within &lt;&gt;. You can have multiple entries, such as: &lt;google.com&gt;&lt;facebook.com&gt;</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.icraze.woahdontsharethatprefs</string>
			<key>default</key>
			<string>&lt;example1.com&gt;&lt;example2.com&gt;</string>
			<key>key</key>
			<string>textCellValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Want to blacklist a website? Enter &lt;google.com&gt;. You will no longer be able to share any google.com links.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Want to blacklist a term in a url? Enter &lt;banned&gt;. If the URL contains "banned", you will no longer be able to share that link.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
			<key>footerText</key>
			<string>© 2021 iCraze</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy me a coffee ☕️ (PayPal)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>email</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Copy Email</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>WoahDontShareThat</string>
</dict>
</plist>
